<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dash</title>
</head>
<body>
	<main>
		<button  onclick=" location.href='/signup'">signup</button>
		<button  onclick=" location.href='/users'">login</button>
		<button  onclick=" location.href='/logout'">logout</button>
		<button  onclick=" location.href='/cart'">cart</button>
		<button  onclick=" location.href='/profiles'">profile</button>
		<button  onclick=" location.href='/post'">post</button>
		<button  onclick=" location.href='/list'">list</button>
		<button  onclick=" location.href='/page'">page</button>
		<button  onclick=" location.href='/page/pageNum'">pageNum</button>
		
	</main>
</body>
</html>